# DS Store
.DS_Store

# Rojo build files
/*.rbxm
/*.rbxl

# Rojo sourcemap
sourcemap.json

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Wally lock files
wally.lock

# Packages
**/Packages/
**/ServerPackages/
**/DevPackages/
**/TestPackages/

# Other files
src/AnirioReplicated/_Deprecated
